*{
    box-sizing: border-box;
}
body{
    width: 1330px;
    height: 700px;
    color: whitesmoke;
    background: url(thumb1.png);
    /* background: lightskyblue; */
}
.start img{
    float: left;
    width: 70px;
    height: 80px;
    margin-top: 0px;
    margin-right: 1px;
    margin-left: 102px;
    border: none;
}
.start h1{
    position: relative;
    /* top: 0px; */
    top: 10px;
    bottom: 12px;
    /* display: inline-block; */
    background-color: transparent;
    /* border: 2.5px solid white; */
    /* border-radius: 12px; */
    /* padding-left: 120px; */
    /* padding-right: 120px; */
    margin-left: 120px;
    font-size: 50px;
    margin-bottom: 0px;
}
img{
    /* display: flexbox; */
    margin-top: 80px;
    /* margin-bottom: 105px; */
    border: 1px solid white;
    border-radius: 15px;
}
ul li{
    float: left;
    /* list-style: none; */
    background-color: lightslategray;
    border-radius: 5px;
    /* border: 2px solid black; */
    color: white;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 3px;
    margin-top: 25px;
    margin-left: 78px;
}
.first{
    color: white;
    /* padding-left: 0px; */
}
.second{
    color: white;
    padding-left: 16px;
}
/* button{
    display: inline-block;
    background-color: blueviolet;
    border-radius: 4px;
    margin: 0px 610.10000px;
    font-size: large;
} */