*{
    box-sizing: border-box;
}
body{
    width: 1330px;
    height: 900px;
    color: white;
    background: url(thumb1.png);
}
h1{
    position: fixed;
    top: 0px;
    center: auto;
    /* top: 12px; */
    /* bottom: auto; */
    display: inline-block;
    background-color: blueviolet;
    border: 2.5px solid white;
    border-radius: 12px;
    padding-left: 120px;
    padding-right: 120px;
    margin-left: 32.25%;
}
img{
    margin-top: 108px;
    margin-bottom: 150px;
    border: 1px solid white;
    border-radius: 15px;
}
a{
    color: white;
    display: inline;
    background-color: blueviolet;
    margin: 0px 610.10000px;
    border-radius: 4px;
    text-decoration: none;
    /* background-color: red; */
    border: 2px solid white;
    padding-left: 5px;
    padding-right: 5px;
}
/* button{
    display: inline-block;
    background-color: blueviolet;
    border-radius: 4px;
    margin: 0px 610.10000px;
    font-size: large;
} */
